<div class="container">
    <div class="row" *ngIf="currentQuestion!= 200">
        <h3 (click)="showdata()"  [innerHTML]="quizzes.results[currentQuestion].question" ></h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Category: {{quizzes.results[currentQuestion].category}}</p>
        <button (click)="answerQuizz(ans)" type="button" *ngFor="let ans of selectedItems" [innerHTML]="ans" class="btn btn-outline-secondary w-50 text-primary"></button>

        <h4 class="text-end ">Correct: <span class="text-success">{{correctAnswers}}</span></h4>
    </div>


   
<div id="liveAlertPlaceholder"></div>

<div *ngIf="isShowModal" class="toast align-items-center w-100" role="alert" aria-live="assertive" aria-atomic="true"
    style="display:flex;">
    <div class="d-flex row m-3">
        <div class="toast-body col-12">
           <h1>Well played, your result: {{correctAnswers}}/10 </h1>
        <button type="button" (click)="fetchNewQuestions()" class="btn btn-success col-5 ms-2">Play one more time!</button>
        <button type="button" class="btn btn-light col-5 ms-2">Not now (check results)</button>

        </div>
    </div>
</div>

</div>